*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
}

/* Słońce */
.sun{
    position: absolute;
    width: 100vh;
    height: 100vh;
    left: -30vh;
    background-color: rgba(255, 255, 0, 1);
    border-radius: 50%;
    box-shadow: 0px 0px 20px 15px rgba(255, 255, 0, 0.5);
    transform: translate(-50%, -50%);
}

/* Planety */
.planet{
    position: fixed;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* Merkury */
.mercury{
    background-image: url(neptune.svg);
    width: 5vh;
    height: 5vh;
    animation: rotate 4s linear infinite
}

/* Wenus */
.venus{
    background-color: aqua;
    width: 12vh;
    height: 12vh;
}

/* Ziemia */
.earth{
    background-color: green;
    width: 13vh;
    height: 13vh;
}

/* Mars */
.mars{
    background-image: url("mars.svg");
    width: 7vh;
    height: 7vh;
    animation: rotate 7s linear infinite
}

/* Animacja obrotu planety */
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg)
    }
}

/* Jowisz */
.jupiter{
    background-color: gray;
    width: 20vh;
    height: 20vh;
}

/* Gwiazda */
.star{
    position: absolute;
    background-color: white;
    width: 0px;
    height: 0px;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: white;
}

/* Mgła */
.mgla{
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: pink;
    transform: rotate(75deg);
    border: 1px solid transparent;
}

/* Czarna dziura
.hole{
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: black;
    border: 1px solid transparent;
}
*/

/* Kometa */
.comet{
    position: fixed;
    z-index: 1000;
    width: 2px;
    height: 15px;
    background-color: rgba(255, 255, 200, 0.5);
    border-radius: 0 0 2px 0;
    box-shadow: 0 0 4px 1px rgba(255, 255, 200, 0.3);
    transform: rotate(30deg);
}

/* Mgławica */
.nebula{
    position: fixed;
    width: 10px;
    height: 10px;
    z-index: 0;
}

/* Wielki wóz */
.big-dipper{
    width: 300px;
    height: 300px;
    margin-left: 30%;
    margin-top: 50vh;
}

/* Kontener dużego wozu */
.big-dipper div{
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    box-shadow: 0 0 5px 2px rgba(200, 200, 100, 0.5);
    
}

/* Kolejne gwiazdy dużego wozu */
.big-dipper div:nth-child(1){
    left: 10px;
    top: 10px;
}
.big-dipper div:nth-child(2){
    top: 13px;
    left: 40px;
}
.big-dipper div:nth-child(3){
    top: 35px;
    left: 65px;
}
.big-dipper div:nth-child(4){
    top: 50px;
    left: 95px;
}
.big-dipper div:nth-child(5){
    top: 65px;
    left: 160px;
}
.big-dipper div:nth-child(6){
    top: 120px;
    left: 130px;
}
.big-dipper div:nth-child(7){
    top: 100px;
    left: 65px;
}

/* Księżyc */
.moon{
    background-image: url(moon.svg);
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: gray;
    z-index: 10;
    animation: rotate 5s linear infinite reverse
}

/* Nie wiem co to */
.asd{
    position: fixed;
    width: 0;
    height: 0;
    border: 2px solid rgba(255, 255, 200, 0.5);
    border-radius: 50%;
    background-color: white;
}

/* Konstelacja gwiazd*/
.constellation{
    position: absolute;
    width: 300vh;
    height: 300vh;
    left: -30vh;
    top: -30vh;
}

/* Mała konstelacja gwiazd */
.constellation-sm{
    animation: anime 1000s linear infinite alternate;
}

/* Średnia konstelacja gwiazd */
.constellation-md{
    animation: anime 2000s linear infinite alternate-reverse;
}
/* Wielka konstelacja gwiazd */
.constellation-bg{
    animation: anime 4000s linear infinite;
}

/* Animacja konstelacji gwiazd */
@keyframes anime{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

